<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Explore Java and Find Paradise">
        <link rel="icon" href="./LOGO-JAVORE-ROUNDED.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="manifest" href="./app.webmanifest">
        <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
        <meta name="theme-color" content="#f39c12"/>
        <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rationale&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rationale&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rationale&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <title>JAVORE</title>
      </head>
<body>
    <a href="#mainContent" class="skip-to-content">Skip to content ?</a>
    <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <img src="./LOGO-JAVORE-BLACK.png" alt="Footer Image" class="brand-image" />
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="#/about">ABOUT US</a></li>
        <li><a href="#/tour" tabindex="0">TOUR</a></li>
        <li><a href="#/destinasi">DESTINATION</a></li>
        
        
      </ul>
    </nav>
    <div id="splash-screen">
      <img src="./LOGO-JAVORE-ROUNDED.png" alt="Logo" id="splash-logo">
  </div>
  </header>
  <main> 
  <div tabindex="0" id="mainContent" class="mainContent"></div>
  </main>
  
    <!-- footer -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-section">
          <img src="./LOGO-JAVORE-BLACK.png" alt="Footer Image" class="footer-image" />
        </div>
        <div class="footer-section">
          <h3>Contact Information</h3>
          <p><i class="fa fa-map-marker-alt"></i> Negara: Indonesia</p>
          <p><i class="fa fa-phone"></i> Telpon: +62 123-4567-890</p>
          <p><i class="fa fa-envelope"></i> Email: info@example.com</p>
        </div>
        <div class="footer-section">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="#/home" tabindex="0">HOME</a></li>
            <li><a href="#/about" tabindex="0">ABOUT</a></li>
            <li><a href="#/tour" tabindex="0">TOUR</a></li>
            <li><a href="#/destinasi" tabindex="0">DESTINATION</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>Follow Us</h3>
          <p><i class="fa fa-facebook"></i> <a href="https://facebook.com" tabindex="0">Facebook</a></p>
          <p><i class="fa fa-twitter"></i> <a href="https://twitter.com" tabindex="0">Twitter</a></p>
          <p><i class="fa fa-instagram"></i> <a href="https://instagram.com" tabindex="0">Instagram</a></p>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 JAVORE. All rights reserved.</p>
      </div>
    </footer>
</body>
</html>